.container{
	height:100vh;
}

.no-js .multi-step-form fieldset button, .multi-step-form.edit-form fieldset button, .no-js .multi-step-form h2, .multi-step-form.edit-form h2 {
	 display: none !important;
}
 .no-js .multi-step-form fieldset, .multi-step-form.edit-form fieldset {
	 display: block !important;
}
 .no-js .multi-step-form [type="submit"], .multi-step-form.edit-form [type="submit"], .no-js .multi-step-form [type="reset"], .multi-step-form.edit-form [type="reset"] {
	 display: inline-block !important;
}
 .no-js .multi-step-form .steps, .multi-step-form.edit-form .steps {
	 display: none;
}
 .multi-step-form fieldset {
	 display: none;
}
 .multi-step-form fieldset:first-of-type {
	 display: block;
}
 .multi-step-form fieldset.hidden {
	 display: none;
}
 .multi-step-form fieldset.visible {
	 display: block;
}
 .multi-step-form .steps button {
	 border: 0;
}
 .multi-step-form .steps [disabled] {
	 background: none;
}
 .multi-step-form .steps .active {
	 background: #eee;
}
 .container {
	 max-width: 800px;
	 margin: 50px auto 0 auto;
}
/*.alt-panel{
	 background:azure;
	 position:absolute;
	 display: cover;
	 margin-left:-10%;
	 width:110%;
}
 .alt-panel-relative{
	 position:relative;
	 height:200px;
}
 */
 h1 {
	 font-weight: bold;
	 color: #006EBC;
}
 h2 {
	 color: #006EBC;
}
 .error {
	 color: red;
}
 hr.line {
	 border: 0;
	 height: 6px;
	 background-color: gray;
}
 
 label .optional {
	 font-weight: normal;
	 font-size: 90%;
}

label{
	tranform-text:uppercase;
}
 .step-all {
	 margin: 10px auto 20px auto;
	 padding: 0 50px 20px 50px;
	 min-height: 400px;
	 border: solid 1px azure;
	 outline: 0;
	 box-shadow: 6px 7px 33px -4px rgba(0, 0, 0, 0.31);
}
 .steps {
	 background-image: url('http://design.seiservices.com/REMS-REDESIGN-2019-odin/images/bar.png');
	 background-repeat: no-repeat;
	 background-position: center center;
	 background-position-y: 31px;
}
 .btn {
	 min-width: 100px;
	 height: 28px;
	 border-radius: 3px;
	 padding: 1px;
	 margin-top: 30px;
	 text-transform: uppercase;
}
 .form-control {
	 font-size: 1.3em;
}
 .btn.btn-next {
	 background: #038886;
	 float: right;
	 color: #fff;
}
 .btn.btn-next:hover {
	 background: #035d5b;
	 float: right;
}
 .btn.btn-success {
	 float: right;
	 background: #038886;
}
 .btn.btn-prev {
	 background: gray;
}
 .btn.btn-prev:hover {
	 background: #000;
}
 button#but2, button#but3, button#but4, button#but5 {
	 height: 60px;
	 width: 60px;
	 border: solid 3px gray;
	 border-radius: 100px;
	 font-size: 12px;
	 margin: 0 50px 0 10px;
	 background: #f7f7f7;
}
 button.active {
	 margin: 0 50px 0 10px;
}
 button#but1.active {
	 height: 75px;
	 width: 75px;
	 border: solid 5px #343434;
	 background: #006EBC;
	 color: #fff;
	 font-size: 16px;
	 border-radius: 100px;
	 margin-left:50px;
}
 .steps {
	 height: 85px;
}
/* .step-wrap {
	 background-image: url("https://drive.google.com/file/d/1AUTsB7EkErdcGVIDAFkdoOx9NwS5Mqkh/view");
	 height: auto;
	 width: 100%;
	 position: relative;
	 z-index: 100;
}
 */
 span.requireme {
	 color: red;
	 font-size: 40px;
	 position: absolute;
	 margin-top: 20px;
	 margin-left: -20px;
}
 button#but2.active, button#but3.active, button#but4.active, button#but5.active {
	 -webkit-animation: bounceme 0.2s 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
	         animation: bounceme 0.2s 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
 @-webkit-keyframes bounceme {
	 0% {
		 color: #000;
		 position: relative;
		 top: 0;
		 height: 60px;
		 width: 60px;
		 top: 0;
	}
	 50% {
		 border: solid 5px #343434;
		 color: #fff;
		 position: relative;
		 background: #006EBC;
		 top: -10px;
		 height: 77px;
		 width: 73px;
	}
	 100% {
		 color: #fff;
		 position: relative;
		 background: #006EBC;
		 top: 0;
		 height: 75px;
		 width: 75px;
		 font-size: 16px;
		 border: solid 5px #343434;
	}
}
 @keyframes bounceme {
	 0% {
		 color: #000;
		 position: relative;
		 top: 0;
		 height: 60px;
		 width: 60px;
		 top: 0;
	}
	 50% {
		 border: solid 5px #343434;
		 color: #fff;
		 position: relative;
		 background: #006EBC;
		 top: -10px;
		 height: 77px;
		 width: 73px;
	}
	 100% {
		 color: #fff;
		 position: relative;
		 background: #006EBC;
		 top: 0;
		 height: 75px;
		 width: 75px;
		 font-size: 16px;
		 border: solid 5px #343434;
	}
}
 #step-2, #step-3, #step-4, #step-5 {
	 position: relative;
	 -webkit-animation: swoop 0.4s 0.1s ease-in forwards;
	         animation: swoop 0.4s 0.1s ease-in forwards;
	/*cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}
 @-webkit-keyframes swoop {
	 0% {
		 position: relative;
		 left: 2000px;
		 opacity: 0;
	}
	 15% {
		 position: relative;
		 left: 2000px;
		 opacity: 0.5;
	}
	 80% {
		 left: -11px;
	}
	 90% {
		 left: 11px;
	}
	 100% {
		 left: 0;
		 opacity: 1;
	}
}
 @keyframes swoop {
	 0% {
		 position: relative;
		 left: 2000px;
		 opacity: 0;
	}
	 15% {
		 position: relative;
		 left: 2000px;
		 opacity: 0.5;
	}
	 80% {
		 left: -11px;
	}
	 90% {
		 left: 11px;
	}
	 100% {
		 left: 0;
		 opacity: 1;
	}
}
/*.conditional {
	 margin: 1em 0 0.5em;
	 border-top: 2px dotted #eee;
	 padding-top: 1em;
	 color: rgba(0,0,0,.7);
	 font-size: .9em;
}
*/
 .conditional > .conditional {
	 color: rgba(0, 0, 0, .5);
}
